/*head view table css*/
.system_table_details_view .header_caption
{
    width: 20%;
}
.system_table_details_view .header_value
{
    width: 30%;
}
.system_table_report_container thead tr th
{
    border: 1px solid #000000;
    padding: 2px;
    font-size: 12px !important;
}
.system_table_report_container tbody tr td
{
    border: 1px solid #000000;
    padding: 2px;
    font-size: 12px !important;
}
