body {
    background: none repeat scroll 0 0 #262626;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}
/*header start*/
header {
    background-color: #212121;
    background-image: linear-gradient(#333333, #262626 85%, #0d0d0d);
    background-repeat: no-repeat;
    border-top: 4px solid #3693cf;
    height: 52px;
    left: 0;
    line-height: 52px;
    vertical-align: middle;
    padding: 0 15px;
    margin-bottom: 15px;
}
header .site_logo{
    margin-top: 5px;
    margin-right: 10px;
}
header .site_title{
    color: green;
    font-weight: bold;
    font-size: 25px;

}
/*header end*/
/*common*/
.widget {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    clear: both;
    margin: 10px 0;
    padding-bottom: 20px;

}
.widget-header{
    background-color: #e8e8e8;
    background-image: -moz-linear-gradient(center top , #fcfcfc, #e8e8e8);
    border-bottom: 1px solid #cfcfcf;
    border-radius: 2px 2px 0 0;
    line-height: 24px;
    padding: 10px;
    margin-bottom: 20px;
}

.widget-header .title{
    color: #333333;
    float: left;
    font-size: 16px;
    font-weight: bold;
}
.margin_bottom{
    margin-bottom: 10px;
}
.table tr:nth-child(even)
{
    background-color: whitesmoke;
}
.show-grid {

    margin: 0px 0px 10px;
}
.dashboard-wrapper {
    background: none repeat scroll 0 0 #f7f7f7;
    border-radius: 0 0 4px 4px;
    margin-bottom: 20px;
    min-height: 480px;
    padding: 10px;
    position: relative;
    margin: 0 0 20px 0;
}
/*common ends*/
/*dropdwon menu starts*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/*dropdwon menu end*/
/*footer starts*/
footer {
    background: none repeat scroll 0 0 #3693cf;
    box-shadow: 0 0 15px #1f5a80 inset;
    color: white;
    font-size: 11px;
    font-weight: normal;
    line-height: 30px;
    padding: 10px;
    z-index: 1;
    margin: 0 15px;
}
footer a{
    color: #000000;
}
/*footer end*/

/*login form start*/
.login-wrapper {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 18px 6px -8px #919191, 0 0 0 #cccccc;
    position: relative;
}
.login_header{
    margin: 0;
    padding: 30px 20px 10px;
}
.login_header h3 {
    color: #f63131;
    line-height: 40px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login_content{
    padding: 10px 20px;
}
.login_action{
    padding: 10px 20px;
}
/*login form end*/
/*loader*/
#system_loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    /*background-color: #000000;*/
    /*opacity: 0.2;*/
    display: none;

}
#system_loading img{
    position: fixed;
    top: 40%;
    left: 35%;
}
/*message area*/
#system_message{
    position: fixed;
    bottom: 60px;
    right: -5000px;
    color: white;
    background-color: #8A2BE2;
    padding: 10px;
    border: 5px solid #000000;
    border-radius: 10px;
}
/*navbar*/
.navbar-nav > li {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #fee3b4;

}
.navbar-nav > li a
{
    font-weight: bold;
}
.navbar-nav > li:first-child {
    border-left: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.navbar-nav > li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar-nav > li:nth-child(even){
    background-color: #e0dff6;
}
/*action_buttons*/
.action_button{
    display: inline-block;
    float: left;
    margin: 5px;
}
.action_button a,.action_button button{
    background-color: #0d0d0d;
    background-image: -moz-linear-gradient(center top , #444444, #0d0d0d);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;
}
.action_button a:hover,.action_button button:hover{
    background-position: 0 -15px;
    color: white;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
/*datepicker*/
.ui-datepicker-month,.ui-datepicker-year{
    color: #000000;
}
.jqxgrid_input{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 100%;
    line-height: 1.42857;
    padding: 0px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.integer_type_positive,.float_type_positive,.float_type_all,.integer_type_all{
    text-align: right;
}
.print_container{
    width: 8.27in;
    margin: .5in;
}